.current-question {
    text-align: center;

    @media screen and (max-width: 768px) {
        h1 {
            font-weight: 600;
            font-size: 2em;
        }

        .answer {
            padding: 20px;

            span:first-child {
                font-size: 1.3em;
                font-weight: 500;
            }
            span:nth-child(2) {
                font-size: 1.3em;
                font-weight: 200;
            }
        }
    }

    h1 {
        font-weight: 600;
        font-size: 3em;
        margin-bottom: 35px;
    }

    .answer {
        padding: 20px;
        margin-bottom: 20px;

        span:first-child {
            font-size: 2em;
            font-weight: 500;
        }
        span:nth-child(2) {
            font-size: 2em;
            font-weight: 200;
        }
        .num-responses {
            font-size: 3.5em;
            font-weight: 700;
        }
    }
}

.response {
    background-color: $dark-blue;
}
