.current-question {
    text-align: center;

    .answer {
        // margin: 10px;
        padding: 20px;

        span:first-child {
            font-size: 2em;
            font-weight: 200;
        }
        span:last-child {
            font-size: 2em;
            font-weight: 500;
        }
    }
}
