.medal-container {
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;

    .ribbon {
        margin-bottom: -10px;
        margin-left: 24px;
        margin-top: 7px;
        width: 12px;
        height: 20px;
        background: linear-gradient(to right, #7426cb, #631bb3, #7426cb);
    }

    .medal {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        animation: shine 4s ease-in-out infinite;

        &.gold {
          background-color: $gold;
          border: 2px solid rgba(184, 151, 47, 0.5);
        }
        &.silver {
            background-color: $silver;
            border: 2px solid rgba(150, 145, 145, 0.5);
        }
        &.bronze {
            background-color: sienna;
            border: 2px solid rgba(126, 60, 28, 0.5);
        }
    }
}
