.medal-container {
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border: 1px solid red;

  .medal {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
    //   transform: translate(-50%,-50%);
      animation: shine 4s ease-in-out infinite;

      &.gold {
          background-color: $gold;
      }
  }

}
