
.quiz-members {
    border-bottom: 0.1em #cacaca solid;
    padding: 0.5em;
        p {
            display: inline;
            font-size: 1.2em;
            padding: 0.6em;
        }
    }

.quiz-review-questions {
    .answer {
        text-align: center;
        border-radius: 0.5em;
        font-size: 0.8em;
    }

}
