.trophies {

    .trophy {
        background-image: url("../../public/trophy.png");
        background-size: 90px 90px;
        width: 90px;
        height: 90px;
        background-repeat: no-repeat;
        margin: 0 auto;

        &.not-awarded {
            background-image: url("../../public/trophy-not-awarded.png");
        }
    }
}

.result {

    .trophy {
        background-image: url("../../public/trophy.png");
        background-size: 90px 90px;
        width: 90px;
        height: 90px;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
}
