.dashboard {
    text-align: center;

    ul {
        margin: 0 auto;
        max-width: 600px;
    }
    li.box {
        font-size: 1.2em;
        color: black;
        transition: all .3s ease-in-out;
        border: 3px solid transparent;
        line-height: 50px;
    }

    a {
        max-width: 500px;
    }

    li.box:hover {
        transform: scale(1.02);
        border-color: rgba(31,200,219,0.6);
    }

    button {
        position: relative;
        left: 0;
        margin-bottom: 20px;
    }
}

.module-header {
    padding: 0 0.5em;

    label {
        padding:0.6em;
    }
}
