.dashboard {

    p {
        display: inline;
        font-size: 1.2em;
        color: black;
    }
    ul {
        margin: 0;
    }
    li.box {
        // margin: 0 auto;
        // border-bottom: 0.1em $grey-opaque-04 solid;
        // padding: 0.5em;
        transition: all .3s ease-in-out;
        // max-width: 500px;

        line-height: 50px;
    }

    a {
        max-width: 500px;
    }

    li.box:hover {
        background-color: $grey-opaque-01;
        transform: scale(1.02);
    }

    button {
        position: relative;
        left: 0;
        margin-bottom: 20px;
    }
}

.module-header {
    padding: 0 0.5em;

    label {
        padding:0.6em;
    }
}
