.dashboard {

    .module-list-item {
        line-height: 5vh;
    }

    button {
        position: relative;
        left: 0;
        margin-bottom: 20px;
    }

    .box {
        max-width: 500px;
    }
}
