.live-quiz, .review {

    background-color: $dark-blue;
    min-height: 100vh;
    margin: 0 !important;
    padding: 2em;

    @media screen and (max-width: 768px) {
        margin-top: 2em;

        h3 {
            color: $off-black;
            margin-top: 1em !important;
        }
    }

    h3 {
        color: $off-black;
        font-weight: 500;
    }

    .start-quiz-button {
        margin-top: 12em;
    }

    .student-view {
        font-size: 3em;
        margin: auto;
        color: white;
    }
}
