.module-members {

    section {
        margin: 0 auto;
    }

    .td.is-icon {
        padding: 5px;
        color: $off-black;
        cursor: pointer;
    }

    .modal .modal-content {
        max-height: 80vh;
    }
}
