.module-members {
    padding-top: 2em;

    section {
        margin: 0 auto;
    }

    .tag.is-medium {
        cursor: pointer;
    }

    .modal .modal-content {
        max-height: 80vh;
    }
}
