
.module {

    @media screen and (min-width: 769px) {
        .section {
            margin: 30px;
        }
    }

    .button-panel {
        .button {
            margin: 0 10px;
        }
    }

    .quizzes {

        h3 {
            display: inline-block;
            margin: 10px;
        }

        td {
            font-weight: 500;
        }

        ul {
            border: 1px solid black;
            list-style: none;
            min-width: 100px;
        }
        li {

        }
    }
}

.module-section-headers {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 0.2em;
}

.help-icon:hover {
    color: $dark-blue;
    cursor: pointer;
}
