.new-module {
    .notification {
        color: white;
        margin-bottom: 20px;
    }

    strong {
        text-decoration: underline;
    }

    .section:first-of-type {
        input {
            margin-bottom: 30px;
            font-size: 20px;
        }
    }

    .new-module-medals, .new-module-trophies {
        margin-top: 30px;
        input {
            display: inline-block;
            font-size: 18px;
            text-align: center;
        }

        span {
            font-size: 14px;
        }
    }


    .new-module-trophies {
        margin-bottom: 30px;
    }
}
