$blue: #1fc8db;
$dark-blue: #42afe3;
$green: #97cd76;
$gold: rgb(212,175,55);
$silver: rgb(168,168,168);
$bronze: rgb(150,90,56);
$grey: #cacaca;
$grey-opaque-04: rgba(201, 201, 201, 0.4);
$grey-opaque-01: rgba(201, 201, 201, 0.1);
$off-black: #222324;
$bulma-is-danger: #ed6c63;
