body {
    -ms-overflow-style: none; // issue #218
    overflow: auto;
}

.outer, .modal-content-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    &.blue-hero {
        background-color: #1fc8db;
        color: white;
    }

    &.red-hero {
        background-color: #ed6c63;
        color: white;
    }
}

.middle, .modal-content-middle {
    display: table-cell;
    vertical-align: middle;
}

.inner, .modal-content-inner {
    margin-left: auto;
    margin-right: auto;
}

.modal-content-inner {
    border-radius: 5px;
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 100px);
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
