.button {
    width: 10.2rem;
    height: 2.5rem;
    background-color: #F5F5F5;
    border: 1px solid #3E3E3E;
    border-radius: 3px;

    &__secondary {
        background-color: #EB415C;
        &--large {
            width: 10.2rem;
            height: 3.1rem;
            box-shadow: inset 0 -3px 0 0 #C10F2B;
            border: 1px solid #3E3E3E;
            border-radius: 3px;

        }
    }

}
