.button {
    display: inline-block;
    padding: 0.25rem 0.5rem; /* a bit of space on top and a bit more on the sides of the word(s) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:  none; /* Removes NATIVE styling (esp. when .button is an input)*/
    box-shadow: inset 0 -3px 0 0 $grey;
    border-radius: 3px;
    font-weight: 400;
    font-size: 1rem;   /* This (and partly line-height) should determine the majority of the height of the element */
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: $black;
    background-color: #F5F5F5;
    border: 1px solid #3E3E3E;

    &--large {
        font-size: 1.5rem;
        line-height: 2;
        padding: 0.5rem 1rem;
    }

    &__secondary {
        background-color: $blue;
        color: white;
        box-shadow: inset 0 -3px 0 0 $dark-blue;

        &--large {
            font-size: 1.5rem;
            line-height: 2;
            padding: 0.5rem 1rem;
        }
    }

    &__tertiary {
        background-color: #EB415C;
        color: $white;
        box-shadow: inset 0 -3px 0 0 #C10F2B;

        &--large {
            font-size: 1.5rem;
            line-height: 2;
            padding: 0.5rem 1rem;
        }
    }
    &__icon {
        &--right {
            text-align: left;

            span {
                margin: 0 1rem;
                float: right;
            }
        }

        &--left {
            text-align: right;

            span {
                margin: 0 1rem;
                float: left;
            }
        }
    }
}
