.button {
    display: inline-block;
    padding: 0.5rem 1rem; /* a bit of space on top and a bit more on the sides of the word(s) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:  none; /* Removes NATIVE styling (esp. when .button is an input)*/
    box-shadow: inset 0 -3px 0 0 $grey;
    border-radius: 3px;
    font-weight: 400;
    font-size: 1rem;   /* This (and partly line-height) should determine the majority of the height of the element */
    line-height: 2;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: $black;
    background-color: #F5F5F5;
    border: 1px solid #3E3E3E;

        &:active {
            box-shadow: none;
            padding-top: 0.35rem;
            padding-bottom: 0.15rem;
        }

    &--large {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 2.5rem;
    }
    &--wider {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &__primary {
        background-color: $gold;
        color: $black;
        box-shadow: inset 0 -3px 0 0 $dark-gold;

        &--large {
            font-size: 1.5rem;
            line-height: 2;
        }
    }

    &__secondary {
        background-color: $blue;
        color: white;
        box-shadow: inset 0 -3px 0 0 $dark-blue;

        &--large {
            font-size: 1.5rem;
            line-height: 2;
        }
    }

    &__tertiary {
        background-color: #EB415C;
        color: $white;
        box-shadow: inset 0 -3px 0 0 #C10F2B;

        &--large {
            font-size: 1.5rem;
            line-height: 2;
        }
    }

    &__dark {
      background-color: $black;
      color: $white;
      box-shadow: none;
    }
    &__icon {
        &--right {
            text-align: left;

            span {
                margin: 0 1rem;
                float: right;
            }
        }

        &--left {
            text-align: right;

            span {
                margin: 0 1rem;
                float: left;
            }
        }
    }
    &__wrapper {
        max-width: 62rem;
        margin: auto;
        padding: 0 2rem;
        &--centered {
            text-align: center;
        }
        &--right {
            text-align: right;
        }
    }

    &__disabled {
      pointer-events: none;
      cursor: not-allowed;
      background-color: $white;
      color: $black;
      box-shadow: none;
      padding: 1rem 2rem;
      margin: 1rem auto;
    }
}
