.card {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 10px;
    text-align: left;
    line-height: 6.44rem;
    padding: 0 3rem;
    margin: 0.75rem 0;

    &__secondary {
        background-color: $dark-blue;
    }
}
