.dashboard {
    text-align: center;

    .display {
        padding: 2rem 0 1rem 0;
    }

    .module__header {
      display: none;
    }

    .card, .line {
      width: 100%;
      box-sizing: border-box;
    }

    .form__input--add-module {
        display: inline-block;
        max-width: 6rem;
        box-sizing: border-box;
        margin: 0.5rem;
        height: 4.1rem;
    }

    .card__secondary {
        text-align: center;

        .button__secondary {
            max-width: 10rem;
            padding: 0.984rem;
            display: inline-block;
            box-sizing: border-box;
            margin: 0.5rem;
        }
    }

    &__tc {
        padding-top: 0;
    }
}

@media (min-width: 769px) {
  .dashboard {

      .f-display, .dashboard__lecturer {
        text-align: left;
      }

      .module__header {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding: 1rem;

        .module__header__name {
          display: inline-block;
          width: 70%;
          text-align: left;
        }
        .module__header__id {
          width: 30%;
          display: inline-block;
          text-align: right;
        }

      }
      .card {
        .module__name {
          display: inline-block;
          width: 70%;
        }
        .module__id {
          width: 30%;
          display: inline-block;
          text-align: right;
        }
      }

      &__tc {
          padding-top: 1rem;
      }
  }
}
