.dashboard {
    text-align: center;

    .display {
        padding: 2rem 0 1rem 0;
    }

    .module__header {
      display: none;
    }

    .card, .line {
      width: 100%;
      box-sizing: border-box;
    }

    .card {
        padding: 0 1rem;
      .module__name {
        display: inline-block;
        width: 70%;
      }
      .module__id {
        width: 30%;
        display: inline-block;
        text-align: right;
      }
    }

    .form__input--add-module {
        display: inline-block;
        max-width: 6rem;
        box-sizing: border-box;
        margin: 0.5rem;
        height: 4.1rem;
    }

    &__student--module {
        text-align: center;

        .module__err-message {
            margin-bottom: 1rem;
        }
    }

    &__tc {
        padding-top: 0;
    }
}

@media (min-width: 769px) {
  .dashboard {

      .card {
          padding: 0 3rem;
          -moz-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
      }

      .card:hover {
          border: 1px solid $blue;
      }
      .f-display, .dashboard__lecturer {
        text-align: left;
      }

      &__lecturer--title {
          display: inline-block;
          min-width: 70%;
      }
      &__lecturer--icon {
          display: inline-block;
          min-width: 30%;
          text-align: right;
      }

      .module__header {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding: 1rem;

        .module__header__name {
          display: inline-block;
          width: 70%;
          text-align: left;
        }
        .module__header__id {
          width: 30%;
          display: inline-block;
          text-align: right;
        }

      }


      &__tc {
          padding-top: 1rem;
      }
  }
}
