.dashboard {
    text-align: center;
    margin-top: 1rem;

    .display {
        padding: 2rem 0 1rem 0;
    }

    .form__input {
        width: 30%;
        float: left;
        margin-left: 1.4rem;
    }

    .card__secondary {
        text-align: center;
    }
}
