.edit-quiz {
    background-color: $light-gold;
    min-height: 100vh;

    .card {
        margin: 1rem 0 1rem 0;
        width: inherit;
    }

    .line {
        padding: 0;
        margin: 1rem 0;
    }

    .button {
        margin: 0.5rem 0 0 0;
    }

    .form__input--new-module {
      max-width: 51rem;
    }

    .fa-square:before, .fa-check-square:before {
      margin: 0 1rem 0 0;
    }

    .new-quiz--buttons {
        text-align: center;
        max-width: 54rem;

        .button {
          display: block;
          margin: 1rem auto;
        }
    }
}
