.display {
    font-size: 3rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    letter-spacing: -0.1rem;
    color: $black;
    &__primary--dark {
        color: #059A9A;
        text-shadow: 0 0.13rem 0 0 #98F0F0;
    }
    &__primary--light {
        color: #98F0F0;
        text-shadow: 0 2px 0 0 #059A9A;
    }
}

.headline {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 2.6rem;
    letter-spacing: -1px;
    color: $black;

    &__primary {
        color: $gold;
    }
}

.title {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2rem;
    color: $black;

    &__primary {
        color: $gold;
    }
}

.subheader {
    font-family: 'Ubuntu';
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: $black;
}

.body {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: $black;

    &__primary {
        color: $gold;
    }

    &__warning {
        color: $red;
    }
}

.label {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    line-height: 1.2rem;
    letter-spacing: 1px;
    color: $grey;
}

.small-label {
    font-size: 0.625rem;
    font-weight: bold;
    line-height: 0.8125rem;
    color: $grey;

    &__dark {
        color: $black;
    }
}
