.f-display {
    font-size: 3rem; // 48px
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: $blue;
    &--primary-dark {
        color: $blue;
        text-shadow: 0px 2px 0px 0px $light-blue;
    }
    &--primary-light {
        color: $blue;
        text-shadow: 0px 2px 0px 0px $dark-blue;
    }
    &--tertiary {
        color: $red;
        text-shadow: 2px 2px 0px $red;
    }
    &--secondary {
        color: $red;
        text-shadow: 2px 0 0 $light-pink;
    }
}

.f-headline {
    font-size: 1.875rem; // 30px
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.25;
    letter-spacing: -1px;
    color: $blue;

    &--primary {
        color: $black;
        font-weight: normal;
    }
    &--secondary {
        color: $red;
    }
    &--light {
      color: $white;
    }
}

.f-title {
    font-size: 1.5rem; //24px
    font-weight: 300;
    line-height: 1.25;
    color: $blue;

    &--primary {
        color: $black;
        font-weight: 700;
    }

    &--secondary {
        color: $red;
    }

    &--light {
        color: $white;
    }
}

.f-subheader {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.25;
    color: $blue;

    &--tertiary {
        color: $red;
    }
    &--light {
        color: $white;
    }
}

.f-body {
    font-size: 1rem; // 16px
    line-height: 1.5;
    color: $black;

    &--primary {
        color: $blue;
    }

    &--secondary {
        color: $red;
    }

    &--tertiary {
        color: $red;
    }

    &--warning {
        color: $red;
    }

    &--light {
        font-weight: 500;
    }
    &--heavy {
        font-weight: 700;
    }
    &--white {
        color: $white;
        font-weight: 500;
    }
    &--dark {
      color: $blue;
      font-weight: bold;
    }
    &--link {
      text-decoration: underline;
      color: $blue;
      cursor: pointer;
    }

}

.f-label {
    font-size: 0.875rem; // 14px
    line-height: 1.25;
    letter-spacing: 1px;
    color: $blue;
    font-weight: bold;


    &--primary {
        color: $black;
    }

    &--50 {
        color: $black;
        opacity: 0.5;
    }
}

.f-small-body {
    font-size: 0.875rem; // 14px
    font-weight: bolder;
    line-height: 1.5;
    color: $black;

    &--slim {
      font-weight: 400;
    }

    &--dark {
        color: $blue;
    }
    &--light {
        color: $white;
    }
    &--primary {
        color: $blue;
    }
    &--grey {
        color: $dark-grey;
    }
}

.f-small-label {
    font-size: 0.625rem;
    font-weight: bold;
    line-height: 1;
    color: $blue;
    text-align: center;

    &--primary {
        color: $black;
    }
    &--dark {
        color: $black;
    }
}

.forum__link {
  font-size: 1rem;
  margin-top: 1rem;
}

.forum__link:hover {
  color: #2574A9;
}
