.f-display {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: $black;
    &--primary-dark {
        color: #059A9A;
        text-shadow: 0px 2px 0px 0px #98F0F0;
    }
    &--primary-light {
        color: #98F0F0;
        text-shadow: 0px 2px 0px 0px #059A9A;
    }
}

.f-headline {
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 2.6rem;
    letter-spacing: -1px;
    color: $black;

    &--primary {
        color: $gold;
    }
}

.f-subheader {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: $black;

    &--tertiary {
        color: $red;
    }
    &--light {
        color: $white;
    }
}
.f-title {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2rem;
    color: $black;

    &--primary {
        color: $gold;
    }

    &--light {
        color: $grey;
    }
}

.f-subheader {
    font-family: 'Ubuntu';
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: $black;
}

.f-body {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: $black;

    &--primary {
        color: $gold;
    }
 
    &--secondary {
        color: $blue;
    }

    &--tertiary {
        color: $red;
    }

    &--warning {
        color: $red;
    }

    &--light {
        font-weight: 500;
    }

    &--dark {
      color: $dark-blue;
    }


}

.f-small-body {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.25rem;
    color: $black;

    &--dark {
        color: $dark-blue;
    }
}

.f-label {
    font-size: 0.875rem;
    line-height: 1.2rem;
    letter-spacing: 1px;
    color: $grey;


    &--dark {
        color: $black;
    }
}

.f-small-label {
    font-size: 0.625rem;
    font-weight: bold;
    line-height: 0.8125rem;
    color: $grey;

    &--dark {
        color: $black;
    }
}
