.form {

    &__label {
      display: block;
      text-align: left;
      padding: 1rem 0;
    }

    &__input {
        border: 1px solid $black;
        height: 2.9375rem;
        font-size: 1rem;
        width: 100%;
        background-color: $white;
        color: $black;
        font-family: ubuntu;

        &--add-module {
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            padding: 0.25rem 0.5rem;
            text-align: center;

            &::-webkit-input-placeholder {
                color: $grey;
            }
        }
    }
}
