.form {
    &__input {
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 0.3rem;
        padding: 0.25rem 0.5rem;
        background-color: $white;
        border: 1px solid $black;
        text-align: center;

        &::-webkit-input-placeholder {
            color: $grey;
        }
    }
}
