.form {

    &__field {
      margin: 1rem 0rem;
    }

    &__label {
      display: block;
      text-align: left;
      padding: 0.25rem 0rem;

      &--new-quiz {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width: 2.75rem;
      }
    }

    &__input {
        box-sizing: border-box;
        border: 1px solid $blue;
        height: 2.9375rem;
        font-size: 1rem;
        width: 100%;
        background-color: $white;
        color: $black;
        border-radius: 0.625rem;
        padding: 0.5rem;
        outline: none;


        &--edit-score {
          font-size: 1.3rem;
          font-weight: bold;
          letter-spacing: 0.3rem;
          padding: 0.25rem 0.5rem;
          text-align: center;
          display: block;
          width: 15%;
        }
        &--add-module {
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            padding: 0.25rem 0.5rem;
            text-align: center;
            text-transform: uppercase;

            &::-webkit-input-placeholder {
                color: $grey;
            }
        }

        &--new-module {
          padding: 0.25rem 0.5rem;
          max-width: 29rem;
          height: 2.5rem;
          margin-bottom: 1rem;

          &--code {
            max-width: 6.25rem;
            letter-spacing: 0.3rem;
          }
        }

        &--new-quiz-question {
          padding: 0.25rem 0.5rem;
          max-width: 43rem;
          height: 3.875rem;
          font-size: 1rem;
          line-height: 1.375rem;
        }
        &--new-quiz-answer {
          padding: 0.25rem 0.75rem;
          max-width: 38rem;
          height: 1.875rem;
          font-size: 1rem;
          line-height: 1.375rem;
          display: inline-block;
          vertical-align: middle;
          resize: vertical;
          max-height: 4.65rem;
        }

        &--medal {
          max-width: 3.5rem;
        }
        &--trophy {
          width: 4rem;
          height: 2.5rem
        }

        &--is-success {
          border: 3px solid rgb(88, 170, 101);
        }
        &--is-danger {
          border: 3px solid rgb(170, 88, 88);
        }

    }

    &__radio {
      position: relative;
    }

    &__radio--off {
        width: 3rem;
        display: inline-block;
        vertical-align: middle;
        margin: 0 2rem;
        &--circle {
            width: 1.5rem;
            height: 1.5rem;
            background-color: #AAAAAA;
            box-shadow: inset 0 -1px 0 0 #757575;
            border-radius: 3rem;
            position: relative;
            top: 0;
        }
        &--cylinder {
            width: 2.625rem;
            height: 0.9375rem;
            background-color: #757575;
            box-shadow: inset 0 1px 0 0 #3E3E3E;
            border-radius: 0.625rem;
            position: relative;
            top: 1.2rem;
        }
    }

    &__radio--on {
        width: 3rem;
        display: inline-block;
        vertical-align: middle;
        margin: 0 2rem;
        &--circle {
            width: 1.5rem;
            height: 1.5rem;
            background-color: #388bc3;
            border: 1px solid #3E3E3E;
            box-shadow: inset 0 -1px 0 0 #757575;
            border-radius: 3rem;
            position: relative;
            top: 0;
            left: 1.2rem;
        }
        &--cylinder {
            width: 2.625rem;
            height: 0.9375rem;
            background-color: $blue;
            box-shadow: inset 0 1px 0 0 $blue;
            border-radius: 0.625rem;
            position: relative;
            top: 1.2rem;
        }
    }

    &__checkbox {
      margin-right: 1rem;
    }

}

textarea, input {
  font-family: inherit;
  font-size: inherit;
}
