.leaderboard {
  background-color: $white;
  min-height: 100vh;

  .f-headline {
    max-width: 35rem;
    margin: auto;
  }

  table {
    width: 35rem;
    margin: auto;
    text-align: center;
  }
  thead {
    background-color: $black;
    color: $white;
  }

  .leaderboard__row--odd {
    background-color: white;
    color: black;
  }
  .leaderboard__row--even {
    background-color: $light-blue;
    color: black;
  }

  th, td {
    padding: 1rem;
}

}
