.leaderboard {
  background-color: $white;
  min-height: 100vh;

    .content__body {
      padding: 1rem;
    }
    .medal-small {
      margin: auto;
    }

    &__image {
      background-image: url(../../public/assets/leaderboard/leader_board_icon.svg);
      width: 6rem;
      height: 6rem;
      background-size: cover;
      margin: 1rem auto;
    }

    &__table {
      width: 100%;
      table-layout: auto;
      text-align: center;
    }

    &__header {
      background-color: $blue;
      color: $white;
    }
    &__row:nth-child(odd) {
      background-color: $white;
    }
    &__row:nth-child(even) {
      background-color: $blue-20;
    }

    &__cell {
      vertical-align: middle;
      line-height: 1.75rem;
      padding: 0.25rem 1rem;
        &--header {
          padding: 1rem;
          &:first-child {
            border-top-left-radius: 0.625rem;
          }
          &:last-child {
            border-top-right-radius: 0.625rem;
          }
        }
        &--narrow {
          width: 2rem;
        }
        &--tl {
          text-align: left;
        }
    }

}
