.line {
    background-color: $black-25-opacity;
    height: 0.2rem;
    margin: 1rem auto;
    padding: 0 1rem;

    &--primary {
      background-color: $gold;
      margin: 1rem 0 1rem 0;
      max-width: 30rem;
      padding: 0;
    }

    &__tertiary {
        background-color: $salmon;
        width: 100%;
    }
    &__primary--long {
        background-color: $gold;
        width: 100%;
        margin: 3rem auto;
    }

    &--new-quiz {
        width: 89%;
        background-color: $grey;
        height: 0.15rem;
        margin: 1rem 0 1rem 0;
        padding: 0 1rem;
    }
}

.line-primary--long-grey {
    background-color: $black-25-opacity;
    width: 100%;
    height: 0.2rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.line-primary--short-grey {
    background-color: $black-25-opacity;
    width: 50%;
    height: 0.2rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
