.login {
    min-height: 100vh;
    background-size: cover;
    text-align: center;

    .headline {
        margin: 0 0 0.5rem 0;
        padding: 1rem;
    }

    .button__primary {
        padding: 1rem 2rem;
        margin: 1rem auto;
    }

    &__links {
      margin: 2rem 0rem 1rem;
    }

    &__link {
      display: block;
      margin: 0.5rem 0;
      &--left {
        text-align: left;
      }
    }

    &__err-message {
      display: block;
      margin-top: 2rem;
      background-color: $pink;
      padding: 0.5rem;
      border-radius: 2px;
      color: white;
    }

    .form__field {
        &__tc {
            padding-top: 1rem;
            span.f-body {
                padding-left: 0.5rem;
            }
        }
    }

}
