.login {
    height: 100%;
    background: url('/pattern_background.png'); 
    background-size: 30rem;
    padding: 4rem 0 9rem 0;

    .headline {
        text-align: center;
        margin: 0 0 0.5rem 0;
        padding: 1rem;
    }

    .subheader {
        width: 10rem;
        text-align: center;
        margin: 1rem auto;
    }

    .form {
        text-align: center;
    }

    div {
        text-align: center;
    }

    .button__primary {
        margin: 1rem;
    }

    .form__field {
        padding: 0.5rem 2rem;
    }

    .form__label {
        display: block;
        text-align: left;
        margin: 0.5rem;
        margin-left: 5.3rem;
    }
}
