.login {
    min-height: 100vh;
    background: url('/pattern_background.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 2rem ;
    text-align: center;

    .headline {
        margin: 0 0 0.5rem 0;
        padding: 1rem;
    }

    .button__primary {
        padding: 1rem 2rem;
        margin: 1rem auto;
    }


    &__err-message {
      display: block;
      margin-top: 2rem;
    }

    .f-body {
      margin: 0.5rem 0;
    }

    .forgotten-password {
      margin: 0.5rem 0;
    }
}


@media (min-width: 769px) {
  .login {


        .form__field {
            padding: 0.5rem 2rem;
        }

      .content__body {
        position: relative;
        max-width: 60rem;
        margin: 16rem auto 0;

        .header {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          text-align: left;
        }
        .form {
          padding: 2rem 0;
          background-color: rgba(241,241,241,0.6);
          box-shadow: inset 0 -4px 0 0 #45C5C5, 0 8px 13px 0 rgba(62,62,62,0.5);
          border-radius: 6px;
          width: 50%;
          display: inline-block;
        }
      }
  }
}
