.login {
    min-height: 100vh;
    background: url('/pattern_background.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 2rem ;
    text-align: center;

    .headline {
        margin: 0 0 0.5rem 0;
        padding: 1rem;
    }

    .subheader {
    }


    .button__primary {
        padding: 1rem 2rem;
        margin: 1rem auto;
    }

    .form__field {
        padding: 0.5rem 2rem;
    }

}
