.medal-result {
    height: 8.75rem;
    width: 6.372rem;
    background-size: 5rem;
    display: block;

    &--silver {
      background: url(../../public/assets/medals/silver_medal.svg)
    }
    &--bronze {
      background: url(../../public/assets/medals/bronze_medal.svg)
    }
    &--gold {
      background: url(../../public/assets/medals/gold_medal.svg)
    }
}

.medal-small {
    height: 3.25rem;
    width: 3rem;
    background-size: cover;

  &--gold {
      background-image: url(../../public/assets/medals/small-gold-medal.svg);
  }
  &--silver {
      background-image: url(../../public/assets/medals/small-silver-medal.svg);
  }
  &--bronze {
      background-image: url(../../public/assets/medals/small-bronze-medal.svg);
  }

}
