.section { /* ! should be in a separate file */
  margin-top: 2rem;
}


.member {
    padding: 0.25rem 0.5rem;
    display: table;
    table-layout: auto;
    width: 100%;
    &:nth-child(even) {
      background-color: $blue-20;
    }

    .quiz__details {
        display: inline-block;
        padding: 0 1rem;
    }
    .f-body {
      cursor: default;
    }
    &__details, &__view-details, &__view-remove-member {
      display: table-cell;
      vertical-align: middle;
    }
    &__details {
        width: 70%;
    }
    &__view-details {
      text-align: right;
      box-sizing: border-box;

          .f-body {
              padding-right: 0.5rem;
          }
    }
    &__view-remove-member {
      text-align: right;
    }

    &__quizheader {
        display: inline-block;
        padding: 0 1rem;
    }

    &__quizdetails {
        position: relative;
        width: 100%;
        margin: 0.5rem 0rem;
        padding: 1rem 0.5rem;
        border: 1px solid $black-25-opacity; /* same as on .card */
        border-radius: 0.625rem; /* same as on .card */

        .close-button {
          position: absolute;
          top: 0.2rem;
          right: 0.6rem;
        }
    }

    &__removestudent {
        position: relative;
        width: 100%;
        margin: 0.5rem 0rem;
        padding: 1rem;
        border: 1px solid $black-25-opacity; /* same as on .card */
        border-radius: 0.625rem; /* same as on .card */

        .button {
          margin: 1rem 0.5rem 0rem;
        }
    }

}

.modal {
  display: table-row;
}
