.module-members {

    .section {
        margin-top: 1rem;
    }
}


.member {
    margin: 0.5rem 0;



    .f-body {
      cursor: default;
    }
    .member__details {
        display: inline-block;
        width: 70%;
    }
    .member__view-details {
      width: 15%;
      display: inline-block;
      text-align: right;
      padding-right: 1rem;
      box-sizing: border-box;

          .f-body {
              padding-right: 0.5rem;
          }
    }
    .member__view-remove-member {
      width: 15%;
      display: inline-block;
      text-align: right;
    }


    .quiz__details, .member__quiz__header {
        display: inline-block;
        padding: 0 1rem;
    }

    .member__quiz__details {
        position: relative;
        background-color: #FDFDFD;
        border: 1px solid rgba(1, 22, 39, 0.25);
        border-radius: 10px;
        text-align: left;
        padding: 1rem;
        margin: 0.75rem 0;

        .close-button {
          position: absolute;
          top: 0.2rem;
          right: 0.6rem;
        }
    }

    .remove__student {
        position: relative;
        background-color: #FDFDFD;
        border: 1px solid rgba(1, 22, 39, 0.25);
        border-radius: 10px;
        text-align: left;
        padding: 1rem;
        margin: 0.75rem 0;

        .button {
          margin: 1rem 0.5rem;
        }
    }

}
