.module {
  &__medals-and-trophies {
    margin: 2rem 4rem;
  }

  &__trophies, &__medals {
    display: inline-block;
    width: 50%;
    text-align: center;
  }

  &__table {
    width: 100%;
  }

  &__headline {
    margin: 0.5rem 2rem;
  }

  &__buttons {
    text-align: center;
    margin: 1.5rem 0;
  }

  &__button {
    margin: 0.5rem;
  }

  &__button__link {
    margin: 0 2rem;
  }

  .button__secondary {
    margin: 0.5rem;
  }

  .table {
    margin: 1rem 2rem;
    text-align: center;

    th td {
      padding: 1rem;
    }
  }

  .f-display, .f-body--primary {
    margin: 1rem 2rem;
  }

  .quizzes {
    padding: 1.5rem;
    margin: 1rem 2rem;
  }
}

.quiz {
  display: block;
  padding: 2.5rem;
  position: relative;

  &__index,
  &__logo,
  &__logo--white,
  &__buttons,
  &__entries,
  &__name,
  &__questions {
    display: inline-block;
    position:absolute;
  }

  &__index {
    left: 5rem;
    top: 1rem;
  }
  
  &__logo, &__logo--white {
    left: 7rem;
    top: 0;
  }

  &__buttons {
    top: 0.5rem;
    right: 3rem;
  }

  &__name {
    top: 0rem;
    left: 11rem;
  }

  &__questions {
    top: 1.7rem;
    left: 11rem;
  }

  &__entries {
    top: 1.7rem;
    right: 5rem;
  }
}

