.module {
  margin: 3rem auto;
  border: 1px solid;
  padding: 2rem 4rem;

  .or-container {
      text-align: center;
      padding: 1rem;
  }

  .horizontal-spacer {
      display: inline-block;
      width: 2rem;
      height: 1px;
      background-color: grey;
      margin-bottom: 0.3rem;
  }

  .form__input--import {
      max-width: 8rem;
  }

  .import-container {
      text-align: center;
  }

  .or {
      display: inline-block;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      color: grey;
  }

  &__title-under-line {
    color: $dark-grey;
  }

  &__medal-grouping {
    .medal-container {
      display: inline-block;
    }

    margin: 0 3rem;
    display: inline-block;
  }

  &__err-message {
    display: block;
    margin-top: 0.5rem;
    background-color: $pink;
    padding: 0.5rem;
    border-radius: 2px;
    color: white;
  }

  &__line {
    width: inherit;
    background-color: $dark-blue;
  }

  &__medals-and-trophies {
    margin: 1rem 4rem;
  }

  &__trophies, &__medals {
    text-align: center;
    margin: 1rem;

    h4 {
      margin: 1rem;
    }
  }

  &__table {
    width: 100%;
  }

  &__headline {
    margin: 1rem 2rem;
    color: $dark-grey;
  }

  &__buttons {
    text-align: right;
    margin: 0.5rem 0;
  }

  &__button {
    padding: 0.2rem 1rem;
    margin-left: 1rem;
  }

  &__button__link {
    text-align: center;
    display: block;
  }

  .button__secondary {
    margin: 0.5rem;
  }

  .table {
    text-align: center;

    th td {
      padding: 1rem;
    }
  }

  .f-display, .f-body--primary {
    margin: 0;
  }

  .f-body {
    float: left;
    margin-top: 0.7rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .quizzes {
    margin: 2rem 0;
  }
}

.module-quiz-container {
    position: relative;
    padding-top: 0.75rem;

    .module-quiz {
      display: block;
      position: relative;

      &__index,
      &__logo,
      &__logo--white,
      &__buttons,
      &__entries,
      &__name,
      &__questions {
        display: inline-block;
        position:absolute;
      }

      &__line {
        height: 1px;
        background-color: $pale-grey;
      }

      &__index {
        left: 1rem;
        top: 1rem;
      }

      .logo, .logo--white {
        margin-left: 4rem;
      }

      &__buttons {
        top: 0.5rem;
        right: 3rem;

        .button {
          margin-left: 0.5rem;
        }
      }

      &__name {
        top: 0rem;
        left: 11rem;
      }

      &__questions {
        top: 1.7rem;
        left: 11rem;
        color: $dark-blue;
      }

      &__entries {
        top: 1.7rem;
        right: 5rem;
      }
    }

    .share-button {
      position: absolute;
      right: 41.2%;
      top: 1.2rem;

        button {
            margin-left: 0.5rem;
        }

        .edit {
            min-width: 5.5rem;
        }
    }
    .share-code {
      position: absolute;
      top: 0;
      right: 5rem;
    }
}
