.module {
  margin: 3rem auto;
  border: 1px solid;
  padding: 2rem 4rem;

  &__title-under-line {
    color: $dark-grey;
  }

  &__medal-grouping {
    .medal-container {
      display: inline-block;
    }

    margin: 0 3rem;
    display: inline-block;
  }

  &__line {
    width: inherit;
  }

  &__medals-and-trophies {
    margin: 1rem 4rem;
  }

  &__trophies, &__medals {
    text-align: center;
    margin: 1rem;

    h4 {
      margin: 1rem;
    }
  }

  &__table {
    width: 100%;
  }

  &__headline {
    margin: 1rem 2rem;
    color: $dark-grey;
  }

  &__buttons {
    text-align: right;
    margin: 0.5rem 0;
  }

  &__button {
    padding: 0.2rem 1rem;
    margin-left: 1rem;
  }

  &__button__link {
    text-align: center;
    display: block;
  }

  .button__secondary {
    margin: 0.5rem;
  }

  .table {
    text-align: center;

    th td {
      padding: 1rem;
    }
  }

  .f-display, .f-body--primary {
    margin: 0;
  }

  .f-body {
    float: left;
    margin-top: 0.7rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .quizzes {
    margin: 2rem 0;
  }
}

.module-quiz {
  display: block;
  position: relative;

  &__index,
  &__logo,
  &__logo--white,
  &__buttons,
  &__entries,
  &__name,
  &__questions {
    display: inline-block;
    position:absolute;
  }

  &__line {
    height: 1px;
    background-color: $pale-grey;
  }

  &__index {
    left: 5rem;
    top: 1rem;
  }

  &__logo, &__logo--white {
    left: 7rem;
    top: 0;
  }

  &__buttons {
    top: 0.5rem;
    right: 3rem;

    .button {
      margin-left: 0.5rem;
    }
  }

  &__name {
    top: 0rem;
    left: 11rem;
  }

  &__questions {
    top: 1.7rem;
    left: 11rem;
    color: $dark-blue;
  }

  &__entries {
    top: 1.7rem;
    right: 5rem;
  }
}
