.navbar {
    width: 100%;
    background-color: $blue;
    font-size: 1rem;

    height: 5rem;

    &__inner { // comes imediately after the .navbar
      max-width: 72rem;
      margin: auto;
    }

    &__container {
      display: table;
      table-layout: fixed;
      height: 5rem;
      width: 100%;
    }

    &__item {
      display: table-cell;
      vertical-align: middle;
        &--left {}
        &--right {
          text-align: right;
        }
    }

    &__link {
        line-height: 1.4rem;
        color: $white;
        cursor: pointer;

        &--back {
            border-bottom: 2px solid $white;
            color: $white;
        }
        &--back--dark {
            border-bottom: 2px solid $black;
            color: $black;
        }
        &--quit {
            color: $red;
            position: relative;

            &::after { /* simulates underline on word */
                content: "";
                display: inline-block;
                position: absolute;
                width: 2.25rem;
                height: 0.125rem;
                bottom: 0.5rem;
                left: 50%;
                transform: translateX(-50%);
                background-color: $red;
            }
        }
    }

    &__secondary {
        box-shadow: none;
        background-color: $blue;
    }
    &__light {
        box-shadow: none;
        background-color: $white;

    }
    &--invisible {
        box-shadow: none;
        background: none;
        max-width: 62rem; /* 960px + 32px */
        padding: 0 0 0 2rem; /* supports screens smaller than 960px */
        margin: auto;
        box-sizing: border-box;
    }
}
