.navbar {
    width: 100%;
    background-color: $blue;
    font-size: 1rem;

    height: 5rem;

    &__inner { // comes imediately after the .navbar
      max-width: 73rem;
      margin: auto;
    }

    &__container {
      display: table;
      table-layout: fixed;
      height: 5rem;
      width: 100%;
    }

    &__item {
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
        &--home {
          width: 5rem;
        }
        &--dashboard {
          width: auto;
          &::before {
            display: inline-block;
            content: "";
            height: 100%;
            vertical-align: middle;
          }
          > * {
            display: inline-block;
            vertical-align: middle;
          }
        }
        &--right {
          padding-right: 1rem;
          text-align: right;
        }
        &--onlyone > .navbar__link { /* ! assumes navbar__link follows navbar__item in markup */
          padding: 1.75rem; /* 28px - precise for a 5rem height navbar */
          display: inline-block;
        }
    }

    &__img {
      display: block;
      max-width: 100%;
    }

    &__link {
        color: $white;
        padding: 0 0.5rem;
    }

    &__secondary { /* ! should be modifier */
        box-shadow: none;
        background-color: $blue;
    }
    &__light { /* ! should be modifier */
        box-shadow: none;
        background-color: $white;

    }
    &--invisible {
        margin: auto;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        &__item {
            &--home {
              padding-left: 1rem;
            }
            &--right {
              padding-right: 1rem;
              text-align: right;
            }
        }
    }
}
