.navbar {
    width: 100%;
    background-color: $blue;
    font-size: 1rem;

    height: 5rem;

    &__inner { // comes imediately after the .navbar
      max-width: 72rem;
      margin: auto;
    }

    &__container {
      display: table;
      table-layout: fixed;
      height: 5rem;
      width: 100%;
    }

    &__item {
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
        &--home {
          width: 5rem;
          padding-left: 1rem;
        }
        &--dashboard {
          width: auto;
          &::before {
            display: inline-block;
            content: "";
            height: 100%;
            vertical-align: middle;
          }
          > * {
            display: inline-block;
            vertical-align: middle;
          }
        }
        &--right {
          padding-right: 1rem;
          text-align: right;
        }
    }

    &__img {
      display: block;
      max-width: 100%;
    }

    &__link {
        color: $white;
        padding: 0 0.5rem;
    }

    &__secondary {
        box-shadow: none;
        background-color: $blue;
    }
    &__light {
        box-shadow: none;
        background-color: $white;

    }
    &--invisible {
        box-shadow: none;
        background: none;
        max-width: 62rem; /* 960px + 32px */
        padding: 0 0 0 2rem; /* supports screens smaller than 960px */
        margin: auto;
        box-sizing: border-box;
    }
}
