.navbar {
    width: 100%;
    background-color: $light-blue;
    box-shadow: inset 0 -2px 0 0 $dark-blue, 0 1px 0 0 $black;
    font-size: 1rem;
    display: table;
    table-layout: fixed;

    &__item {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
    }

    &__link {
        padding: 1rem;
        line-height: 1.4rem;
        color: $black;
        cursor: pointer;

        &--left {
            float: left;
        }

        &--right {
            float: right;
            margin-right: 15%;
        }

        &--back {
            border-bottom: 2px solid $white;
            color: $white;
        }
        &--quit {
            color: $red;
            position: relative;

            &::after { /* simulates underline on word */
                content: "";
                display: inline-block;
                position: absolute;
                width: 2.25rem;
                height: 0.125rem;
                bottom: 0.5rem;
                left: 50%;
                transform: translateX(-50%);
                background-color: $red;
            }
        }
    }

    &__secondary {
        box-shadow: none;
        background-color: $blue;
    }
    &__light {
        box-shadow: none;
        background-color: $white;

    }
    &--invisible {
        box-shadow: none;
        background: none;
        max-width: 62rem; /* 960px + 32px */
        padding: 0 0 0 2rem; /* supports screens smaller than 960px */
        margin: auto;
        box-sizing: border-box;
    }
}
