.new-module {
  min-height: 100vh;
  color: $white;

}

.save-module-container {
    text-align: center;
}

.medal-values {

    max-width: 33rem;
    height: 7rem;

    &--bronze {
        float:left;
        width:11rem;
    }
    &--silver {
        display: inline-block;
        margin:0 auto;
        width:11rem;

        .f-body {
            line-height: 3rem;
        }
    }
    &--gold {
        float:right;
        width:11rem;
    }

    .medal-middle-values {
        margin-top: 2rem;
    }

    .medal-values--header {
      position: relative;
      padding: 0.75rem 0;

      .medal-small {
        position: absolute;
        float: left;
        left: 1rem;
      }

      .f-small-body {
        line-height: 1.6rem;
        margin-left: 2rem;
      }
    }
}

.new-module-medals {
    margin-bottom: 3rem;
}

.new-module-medals, .trophies {
  .f-body {
    color: $black;
  }
}

.new-module-trophies {
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
  width: 28%;
  margin-left: -2rem;

  .trophy__small--new-module {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
  p.f-small-body {
    display: inherit;
  }

  .form__input--trophy {
  }
}
