.new-quiz {
    min-height: 100vh;

    .card {
        margin: 1rem 0 1rem 0;
        width: inherit;
        position: relative;
        padding: 2rem;
    }

    .line {
        padding: 0;
        margin: 1rem 0;
    }

    .button {
        margin: 0.5rem 0 0 0;
    }

    .form__input--new-module {
      max-width: 51rem;
    }

    .fa-square:before, .fa-check-square:before {
      margin: 0 1rem 0 0;
    }

    .fa-arrows-v:before {
        color: $dark-grey;
    }

    .fa-arrows-v:active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        pointer-events: auto;
    }

    .new-quiz--buttons {
        text-align: center;

        .button {
          margin: 1rem;
        }
    }
    &--drag-handle {
        position: absolute;
        right: 1rem;
        cursor: move;
        cursor: grab;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        pointer-events: auto;
    }
    &--drag-handle:hover {
        cursor: grab;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        pointer-events: auto;
    }
    &--drag-handle:active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        pointer-events: auto;
    }
}
