.quiz {
    background-color: $white;
    text-align: center;
}

.quiz__item-button-underline {
    text-decoration: underline;
    display: inline-block;
    font-size: 0.8rem;
    padding-left: 0.5rem;
}

.quiz__item {
    position: relative;

    &__score {
        border-radius: 5px;
        border: 2px solid $pale-grey;
        width: 5rem;
        height: 5rem;
        text-align: center;
        position: absolute;
        top:0;
        left:0;
    }


    &__name {
        position: absolute;
        left:6rem;
        top:0.2rem;
    }
}

.quiz__item-container {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border: 1px solid $blue;
    border-radius: 10px;
    background-color: $white;
    display: inline-block;
    width: 95%;
    margin-bottom: 0.5rem;
    text-align: left;
    background-color: rgba(247, 255, 247, 1);
}

.quiz__item-medal-container {
    display: inline-block;
    float: left;
}

.quiz__item-percentage-score {
    display: inline-block;
}

.quiz__item-result-container {
    text-align: left;
    padding-left: 1rem;
}

.quiz__item-text-container {
    display: inline-block;
    text-align: left;
    padding-left: 1rem;
    float: left;
}

.quiz__item__score {
    &--postion {
        position: absolute;
        top: 0.3rem;
        left: 0.3rem;
    }

    &--medal--gold {
        height: 3rem;
        width: 3rem;
        position: relative;
        top: 1rem;
        margin: auto;
        background: url(../../public/assets/medals/small-gold-medal.svg);
        background-size: 3rem;
    }
    &--medal--silver {
        height: 3rem;
        width: 3rem;
        position: relative;
        top: 1rem;
        margin: auto;
        background: url(../../public/assets/medals/small-silver-medal.svg);
        background-size: 3rem;
    }
    &--medal--bronze {
        height: 3rem;
        width: 3rem;
        position: relative;
        top: 1rem;
        margin: auto;
        background: url(../../public/assets/medals/small-bronze-medal.svg);
        background-size: 3rem;
    }

    &--percent {
        position: relative;
        bottom: -1rem;
    }
}

/* Live Quiz (lecturer/live) */

.quiz__titles {
    margin-bottom: 4.5rem;
}

.quiz__titles-icon {
    display: block;
    float: left;
}

.quiz__name {
    display: inline;
    margin-left: 1rem;
    line-height: 4.375rem; /* 70px - same size as titles-icon */
}

.quiz__cta {
    text-align: center;
}

.quiz__module { /* containing box for module code */
    text-align: center;
    margin: 1rem 0 5rem;
}
.quiz__module-code {
    letter-spacing: 4px;
    display: inline-block;
    padding: 1rem 1.625rem;
    background-color: $white;
    border-radius: 3px;
}

.quiz__copy { /* for generic text or messages on a quiz view */
    display: block; /* for when the elem is a span or a */
    margin: 1rem auto;

    &--center {
        text-align: center;
    }
}

.quiz__item-button-container {
    text-align: center;
}

.quiz__item-wrapper {
    display: inline-block;
}

.quiz-results-title {
    margin-bottom: 1rem;
}

.quizzes-container {
    padding-top: 1rem;
    background-color: rgba(247, 255, 247, 1);
}
