.review-quiz-student {
  min-height: 100vh;
  text-align: center;

  .review-quiz-student-container {
      border-top: 3px solid #2574A9;
      margin-top: 1rem;
      padding: 1rem 0;
      background-color: #FDFDFD;
  }

    .f-headline, .f-title {
      margin-top: 1rem;
    }
    .card {
      padding: 0;
      margin: 0.5rem;
      width: inherit;
      line-height: 1rem;
      border: 1px solid $blue;
    }
    .question {
        padding: 1rem;
        border-bottom: 1px solid $blue;
    }
    .answer {
        padding: 0.75rem;
    }

    .same_answer {
        background: linear-gradient(90deg, $grey 0%, $grey 100%);
    }
    .user_answer {
        background-color: $grey;
    }
    .chosen-answer {
        float:right;
    }
    .f-label {
      padding-right: 0.5rem;
    }

    @media (min-width:48rem) {
            .review-quiz-student-container {
                max-width: 48rem;
                margin: auto;
                padding: 2rem;
                border-radius: 0.625rem;
            }
    }
}
