.student-module {
    background-color: $white;
    height: 100vh;

    .f-headline {
        margin-top: 2rem;
    }
    .f-headline, .f-title, .button, .trophy {
        margin: 0.5rem 1rem;
    }

    .quiz__item__score--percent, .quiz__item__name {
      color: $black;
    }
}
