.live-quiz {}

// QUESTION

    .live-quiz__question-wrapper {
        max-width: 60rem;
        padding: 0 1rem;
        display: table;
    }
    .live-quiz__question,
    .live-quiz__question-number {
        display: table-cell;
        vertical-align: middle;
        padding-left: 1rem;
    }
    .live-quiz__question-number {
        background-color: $blue;
        border-radius: 10px;
        color: $white;
        padding: 0 0.75rem 0 0.5rem;
        margin-right: 1rem;
    }

    .live-quiz__question-number-mobile {
        background-color: $blue;
        border-radius: 10px;
        color: $white;
        padding: 0 0.75rem 0 0.5rem;
        display: inline-block;
    }

    .live-quiz__question-number-container {
        text-align: center;
    }

// ANSWERS

    .live-quiz__answers-wrapper {} /* aesthetic purpose */
    .live-quiz__answers {
        max-width: 62rem; /* 992px */
        margin: auto;
        text-align: center;
    }
    .live-quiz__answer {
        display: inline-block; /* centered by parent wrapper */
        box-sizing: border-box;
        max-width: 29rem; /* 464px */
        margin: 1rem; /* 464 + 16 + 16 = 496px in total */

        &--wrong {

            .live-quiz__total-replies {
                color: $salmon;
            }
        }

        &--response {
            background-color: $blue;
            box-shadow: none;
            border: 1px solid $blue;
            // when a repsponse is given the letter changes colour
            .live-quiz__letter {
                color: $white;
                border-color: $white;
            }
            .live-quiz__total-replies {
                color: $white;
            }
            .live-quiz__answer-text {
                color: $white;
            }
        }
    }

    .live-quiz__answer-mobile {
        display: inline-block; /* centered by parent wrapper */
        box-sizing: border-box;
        max-width: 29rem; /* 464px */
        margin-left: 0.5rem; /* 464 + 16 + 16 = 496px in total */
        margin-right: 0.5rem; /* 464 + 16 + 16 = 496px in total */

        &--wrong {

            .live-quiz__total-replies {
                color: $salmon;
            }
        }

        &--response {
            background-color: $blue;
            box-shadow: none;
            border: 1px solid $blue;
            // when a repsponse is given the letter changes colour
            .live-quiz__letter {
                color: $white;
                border-color: $white;
            }
            .live-quiz__total-replies {
                color: $white;
            }
            .live-quiz__answer-text {
                color: $white;
            }
        }
    }
    .live-quiz__answer-inner {
        display: table;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }


    .live-quiz__letter { /* A,B,C, or D */
        padding-top: 2rem;
        box-sizing: border-box;
        display: inline-block;
        text-transform: capitalize;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.25;
        color: $blue;
        border-radius: 100%;
        height: 67px;
        width: 67px;
        text-align: center;
    }
    .live-quiz__answer-text { /* text of the option */
        padding-left: 1rem;
        line-height: 1.75;
    }

    .live-quiz__total-replies {
        padding-left: 1rem;
        line-height: 1.75;
        font-size: 2.5rem;
    }

    .live-quiz__answer-text {
      width: 22.685rem;
    }

        .live-quiz__answer-text,
        .live-quiz__total-replies {
            display: table-cell;
            vertical-align: middle;
        }

        .live-quiz__letter {
            display: inline-block;
        }

    @media (min-width: 60rem) {
        .live-quiz__answer-inner {
            min-height: 4rem;
        }
    }

// FOOTER

    .live-quiz__footer {
        padding:2rem;
    }



// OVERRIDES

.student-view {
    text-align: center;
    height: 100vh;



    .holding-message {
        padding: 3rem 1rem;
        border-top: 1px solid $blue;
        border-bottom: 1px solid $blue;
        background-color: $white;
    }

    .holding-logo {
        width: 5rem;
        margin: 1rem auto;
    }

    .hint {
        padding: 1rem;
        background-color: $white;
        border-bottom: 1px solid $blue;
        text-align: left;
    }
}

.student-view__questions {
    min-height: 100vh;

    .card {
        padding: 0;
    }
    
    .live-quiz__answer-inner {
        padding-top: 0;
        padding-bottom: 0;
    }

    .question {
      background-color: $white;
    }
    .f-subheader {
        padding: 1rem 2rem;
    }
    .f-body {
        padding: 1rem 1rem 1rem 1rem;
    }
    .live-quiz__answers-wrapper {
        border-top: 3px solid $blue;
        padding: 1rem 0;
    }

}
