.student-view {
    text-align: center;
    background-color: $blue;
    height: 100vh;

    .holding-message {
        padding: 3rem 1rem;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        background-color: $white;
    }

    .hint {
        padding: 1rem;
        background-color: $white;
        border-bottom: 1px solid $black;
        text-align: left;
    }
}

.student-view__questions {
    background-color: $gold;
    min-height: 100vh;

    .question {
      background-color: $white;
    }
    .subheader {
        padding: 1rem 2rem;
    }
    .body {
        padding: 0 2rem 2rem 2rem;
    }
    .current-question {
        background-color: $gold;
        border-top: 3px solid $dark-gold;
        padding: 1rem 0;
    }

}

.live-quiz-footer {
  background-color: $gold;
  padding:2rem;
}
