.performance {
    background-color: $blue;
    height: 100%;
    min-height: 100vh;

    .f-subheader {
        text-align: center;
        padding: 1rem;
    }
     .f-title {
        text-align: center;
    }
}
