.trophy__small {
    background: url(../../public/assets/trophy/small-trophy.svg);
    height: 2rem;
    width: 2rem;
    top: 0.5rem;
    display: inline-block;
    position: relative;
    margin: auto;
    background-size: 2rem;
}

.trophy__small--new-module {
    background: url(../../public/assets/trophy/first_quiz.svg);
    height: 3rem;
    width: 3rem;
    top: 0.5rem;
    display: inline-block;
    position: relative;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.new-module-trophy {
    width: 8rem;
}

.new-module-trophy-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.trophy__disabled {
    filter: grayscale(100);
}
