.trophy__small {
    background: url(../../public/assets/trophy/small-trophy.svg);
    height: 2rem;
    width: 2rem;
    top: 0.5rem;
    display: inline-block;
    position: relative;
    margin: auto;
    background-size: 2rem;
}

.trophy__small--new-module {
    background: url(../../public/assets/trophy/small-trophy.svg);
    height: 1rem;
    width: 1rem;
    top: 0.5rem;
    display: inline-block;
    position: relative;
    margin: auto;
    background-size: 1rem;
}
