.fade-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}

.fade-enter-active {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 700ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    opacity: 0;
    transition: .5s ease-out all;
}

.element-fade-in {
    opacity: 1;
    animation: fadeIn 1s linear;
}

.element-fade-out {
    opacity: 1;
    animation: fadeOut 1s linear;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  50% { opacity: 0.5 }
  100% { opacity: 1 }
}

@keyframes fadeOut {
  0% { opacity: 1 }
  50% { opacity: 0.5 }
  100% { opacity: 0 }
}
