.login {

    h2 {
        color: black;
        margin: 20px 0;
    }

    input {
        margin: 10px 0;
        font-size: 16px;
    }

    button {
        margin: 20px 0;
        width: 100px;
    }
}
