$white: #F7F7F7;
$off-white: #F1F1F1;
$pale-grey: #CDCDCD;
$grey: #AAAAAA;
$dark-grey: #757575;
$black: #3E3E3E;
$dark-blue: #059A9A;
$blue: #45C5C5;
$light-blue: #98F0F0;
$dark-gold: #D3A736;
$gold: #FFD772;
$light-gold: #FFE7AB;
$red: #C10F2B;
$pink: #EB415C;
$light-pink: #F6788C;
