$white: #F7FFF7;
$black: #011627;
$blue: #5CABC9;
$blue-20: rgba(92,171,201,0.20);
$red: #D86152;

$off-white: #F1F1F1;
$pale-grey: #CDCDCD;
$grey: #F2F2F2;
$grey-40-opacity: rgba(170,170,170,0.40);
$dark-grey: #757575;
$dark-gold: #D3A736;
$gold: #FFD772;
$light-gold: #FFE7AB;
$dark-blue: #059A9A;
$light-blue: #98F0F0;
$light-pink: #F6788C;
$pink: #FFEEEE;
