
input {
    display: inline-block;
}

.display-none {
    display: none !important;
}

.response {
    background-color: $blue;
}

/* achieves the effect that `.column` used to do */
.container.narrow, .box.narrow {
    margin: auto;
    max-width: 400px;
}
