input {
    display: inline-block;
}

.display-none {
    display: none !important;
}

.error-message {
    position: fixed;
    bottom: 0;
    margin: 1em;
    z-index: 1;
}

.submit-success {
    background-color: rgba(0, 0, 0, 0.48);
    color: white;
    border-radius: 10em;
}

/* achieves the effect that `.column` used to do */
.container.narrow, .box.narrow, .section.narrow {
    margin: auto;
    max-width: 400px;
}

.container.average, .box.average, .section.average {
    margin: auto;
    max-width: 700px;
}

@media screen and (max-width: 768px) {
    .box {
        margin-bottom: 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 769px) {
    .box {
        margin-bottom: 20px;
    }
}
