@import 'reset';
@import 'config/colors';
@import 'config/partials';
@import 'blocks/buttons';
@import 'blocks/card';
@import 'blocks/container';
@import 'blocks/dashboard';
@import 'blocks/font';
@import 'blocks/form';
@import 'blocks/line';
@import 'blocks/navbar';
@import 'blocks/quiz';
@import 'blocks/live-quiz';
@import 'blocks/logo';
@import 'blocks/review-quiz-student';
@import 'blocks/student-module';
@import 'blocks/login';
@import 'blocks/performance';
@import 'blocks/trophy';
// Old SCSS
// @import 'bulma.css';
// @import 'base/colours';
// @import 'base/layout';
// @import 'initial';
// @import 'animation/bounce-in-up';
// @import 'animation/fade.css';
// @import 'animation/pulse';
// @import 'animation/shine';
// @import 'components/cookie-message';
// @import 'components/current-question';
// @import 'components/feedback';
// @import 'components/leaderboard-view-medals-trophies';
// @import 'components/medal';
// @import 'components/nav';
// @import 'components/spinner';
// @import 'components/quiz-review';
// @import 'components/quiz-review-questions';
// @import 'components/module-view-trophies';
// @import 'components/holding-page';
// @import 'components/edit-score-modal';
// @import 'views/add-quiz';
// @import 'views/edit-quiz';
// @import 'views/dashboard';
// @import 'views/leaderboard';
// @import 'views/live-quiz';
// @import 'views/login';
// @import 'views/module';
// @import 'views/student-module';
// @import 'views/join-module';
// @import 'views/module-members';
// @import 'views/new-module';
// @import 'views/quiz-members';
// @import 'views/result';
// @import 'views/student-history';
