@import 'reset';
@import 'config/colors';
@import 'config/partials';
@import 'blocks/buttons';
@import 'blocks/card';
@import 'blocks/container';
@import 'blocks/content';
@import 'blocks/dashboard';
@import 'blocks/font';
@import 'blocks/form';
@import 'blocks/line';
@import 'blocks/navbar';
@import 'blocks/quiz';
@import 'blocks/live-quiz';
@import 'blocks/logo';
@import 'blocks/privacy';
@import 'blocks/result';
@import 'blocks/review';
@import 'blocks/review-quiz-student';
@import 'blocks/student-module';
@import 'blocks/login';
@import 'blocks/medal';
@import 'blocks/performance';
@import 'blocks/trophy';
@import 'blocks/module';
@import 'blocks/new-module';
@import 'blocks/new-quiz';
@import 'blocks/edit-quiz';
@import 'blocks/trophy';
@import 'blocks/leaderboard';
@import 'blocks/module-members';
@import 'blocks/quiz-members';
