@import 'bulma.css';
@import 'base/colours';
@import 'initial';
@import 'components/login';
@import 'components/nav';
@import 'components/spinner';
@import 'components/current-questions';
@import 'components/add-quiz';
@import 'animation/fade.css';
@import 'views/dashboard';
@import 'views/new-module';
