@import 'reset';
@import 'config/colors';
@import 'config/partials';
@import 'blocks/buttons';
@import 'blocks/card';
@import 'blocks/container';
@import 'blocks/dashboard';
@import 'blocks/font';
@import 'blocks/form';
@import 'blocks/line';
@import 'blocks/navbar';
@import 'blocks/quiz';
@import 'blocks/live-quiz';
@import 'blocks/logo';
@import 'blocks/student-module';
@import 'blocks/performance';
@import 'blocks/trophy';
