@import 'bulma.css';
@import 'base/colours';
@import 'initial';
@import 'animation/bounce-in-up';
@import 'animation/fade.css';
@import 'animation/pulse';
@import 'animation/shine';
@import 'components/login';
@import 'components/medal';
@import 'components/nav';
@import 'components/spinner';
@import 'components/current-questions';
@import 'components/add-quiz';
@import 'components/quiz-review';
@import 'components/trophies';
@import 'views/dashboard';
@import 'views/live-quiz';
@import 'views/module';
@import 'views/new-module';
@import 'views/result';
@import 'views/student-history';
